<% if @story %>
  <h2><%= @story[:title] %></h2>
  <p><%= @story[:description] %></p>

  <% if @story[:characters].present? %>
    <h3>Characters:</h3>
    <div>
      <% @story[:characters].each do |character| %>
        <%= render(CharacterComponent.new(name: character[:name], image: character[:image])) %>
      <% end %>
    </div>
  <% else %>
    <p>No characters available for this story.</p>
  <% end %>
<% else %>
  <p>Loading story...</p>
<% end %>
